.jumbotron {
    padding-top: 6rem;
    background-color: #a2d9ff;
}

.name {
    padding-top: 2rem;
}

body {
    min-height: auto;
}

section {
    padding-top: 5rem;
}
#project {
    background-color: #a2d9ff;
}
